In [6]:
import pandas as pd

df=pd.read_csv("listings.csv",sep=",")
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,0.30,30,217,4,NaN
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,0.11,9,356,0,NaN
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0,NaN
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,NaN,1,83,0,NaN
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,0.95,1,219,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,0.04,7,365,0,NaN
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,1.92,1,0,5,NaN
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,2.87,1,152,18,NaN
39879,698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,400,30,0,NaN,NaN,1,311,0,NaN
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0.91,1,0,4,NaN

In [20]:
df.drop(columns=['minimum_nights', 'number_of_reviews','last_review','reviews_per_month','calculated_host_listings_count','availability_365','number_of_reviews_ltm','license'],axis=0, inplace=True)

KeyError: "['minimum_nights' 'number_of_reviews' 'last_review' 'reviews_per_month'\n 'calculated_host_listings_count' 'availability_365'\n 'number_of_reviews_ltm' 'license'] not found in axis"

In [22]:
df.drop(columns=['latitude','longitude'], axis=0, inplace=True)

In [23]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price
10452,17984049,Apartamento Algarve Holidays,120181746,Isabel,Manhattan,Flatiron District,Entire home/apt,143
39347,54104214,Lovely brownstone apartment close to NYC,6487132,Vladimir,Manhattan,Ellis Island,Entire home/apt,199
39395,16556296,"Entire 2 BR Apt 10 min. to NYC, steps to Dwntn...",91482234,Lauren,Manhattan,Ellis Island,Entire home/apt,146
39598,552167456542108301,"Newly renovated condo, minutes to NYC!",156830486,Krithika,Manhattan,Ellis Island,Entire home/apt,206
39739,35165304,*IDEAL LOCATION *CHIC HOME*7 min to NYC**GROVE ST,13354338,Olga,Manhattan,Ellis Island,Entire home/apt,178